<div class="ui main text container">
  <form action="/login" method="POST" class="ui form segment">
    <h1 class="ui header">Log In</h1>
    <p>Enter any username. If the user doesn't exist, it will be created.</p>
    <div class="field">
      <div class="ui fluid icon input">
        <input type="text" name="username" placeholder="Username" required>
      </div>
    </div>
    <div class="field">
      <button type="submit" class="ui primary button">Log In</button>
    </div>
  </form>
</div>